	body {
		background-image:url("images/bg.jpg");
		background-color:blue;
		webkit-background-size:cover;
		moz-background-size:cover;
		o-background-size:cover;
		background-size:cover;
		margin-top:10%;
	}
	#gamecontainer {
		background:rgba(128, 179, 255, 0.8);
		border-radius:10px;
		height:30em;
		width:60em;
		margin-top:0;
		margin-right:auto;
		margin-bottom:0;
		margin-left:auto;
		padding-left:50px;
		padding-right:50px;
		box-shadow:5px 5px 25px black;
	}
	#guessescontainer, p {
		background:rgba(77, 153, 0, 0.8);
		font-family:"comic sans ms";
		height:30px;
		border-radius:10px;
		padding-top:5px;
		padding-left:20px;
		
	}
	h1 {
		font-family:"Blackadder ITC";
		font-size:4em;
		text-align:center;
		color:#404040;
		text-shadow:2px 2px 0 black;
	}
	#bomb {
		background-image:url("images/bomb.png");
		height:137px;
		width:100px;
		position:relative;
		top:-170px;
		transform:rotate(25deg);
		margin-left:82.5%;
	}
	#counter {
		color:yellow;
		font-size:96px;
		position:relative;
		transform:rotate(340deg);
		top:20px;
		
	}
	.unselectable {
		user-drag: none; 
		user-select: none;
		-moz-user-select: none;
		-webkit-user-drag: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		pointer-events: none;
	}
	#inputNum {
		width:10%;
		font-family:monospace;
		font-size:16px;
		font-weight:bold;
		text-align:center;
		border:none;
		border-radius:10px;
	
	}
	#guess {
		margin-top:-120px;
		width:50%;
	}
	.tile {
		border: 1px solid black;
		padding: 5px 8px;
		font-family:monospace;
		font-size:1.5em;
		width:20px;
		text-shadow: -1px 1px 0 #000, 1px 1px 0 #000,1px -1px 0 #000, -1px -1px 0 #000;
		background-color:white;
	}
	#hitmarker {
		color:yellow;
	}
	#missmarker {
		color:#4d4dff;
	}
	.table {
		font-family:monospace;
		font-size:20px;
		background-color:red;
		padding:3px;
		margin-left:50%;
	}