#keySkills {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contentBox.resume {
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    font-weight: 400;
    font-size: 1.5em;
}

.contentBox.skills {
    max-width: 75%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 100px);
    justify-content: space-between;
    grid-gap: 20px;
}

.contentBox .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-weight: 700;
}

.contentBox .subtitle {
    font-weight: 500;
    margin: 10px 0 10px 0;
}

.contentBox .resumeImage {
    width: 50px;
    height: 50px;
}

.button.download {
    background-color: #248f24;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 0;
}

.button a {
    color: var(--text-light);
    font-size: 1.5em;
    font-weight: 900;
    text-decoration: none;
}

.button.download:hover {
    cursor: pointer;
    padding: 15px;
    background-color: #149f14;
}

.quick-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.link-ref {
    text-decoration: none;
    color: var(--text-light);
    font-weight: 900;
    font-size: 1.3em;
}

.link-ref:hover {
    border-bottom: 2px solid var(--text-light);
}

.skillBadge {
    display: flex;
    flex-basis: 20%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px;
}

.skillBadge .icon {
    font-size: 2em;
    width: 50px;
    height: 50px;
}

.skillBadge .text {
    font-size: 1.25em;
}

.resume.item {
    color: var(--text-darker);
}

.itemText {
    margin-right: 5px;
    font-weight: 700;
}

@media (max-width: 768px) {
    
}