body {
	background-image: url('../images/background.png');
	background-color:rgb(84, 84, 235);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	font-family:"Pirata One", serif;
	font-size:16px;
	margin:0;
	padding:0;
}

header {
	background-color:rgba(255, 255, 255, 0.75);
	display:inline-block;
}

header .title {
	font-size:3em;
	letter-spacing:0.3em;
	text-transform:uppercase;
	color:yellow;
	text-shadow:3px 3px black;
	text-align:center;
}


