	body, html {
		height:100%;
	}
	body {
		background-image:url("images/home.jpg");
		background-color:white;
		webkit-background-size:cover;
		moz-background-size:cover;
		o-background-size:cover;
		background-size:cover;
		margin:0;
		margin-top:0;
	}
	#menu {
		background: linear-gradient(to top, #660000 0%, #800000 100%);
		width:100%;
		height:10vh;
		text-align:center;
	}
	.menuButton {
		background-color:rgba(255, 255, 255, 0);
		border-radius:10px;
		border-color:rgba(255, 255, 255, 0);
		width:15%;
		height:5vh;
		font-family:"trebuchet ms";
		font-size:100%;
		font-weight:bold;
		margin-right:2%;
		margin-top:2.5vh;
		transition-duration: 0.4s;
		outline:none;
	}
	.menuButton:hover {
		background: linear-gradient(to top, #cc0000 0%, #e60000 100%);
		color: black;
		cursor:pointer;
		
	}
	#currentMenuButton {
		background: linear-gradient(to top, #545454 0%, #616161 100%);
	}
	#currentMenuButton:hover {
		background: linear-gradient(to top, #545454 0%, #616161 100%);
		cursor:normal;
	}
	#title {
		font-family:"segoe ui";
		font-size:4em;
		text-transform:uppercase;
		text-align:center;
		color:red;
		text-shadow:5px 5px 5px black;
	}
	.unselectable {
		user-drag: none; 
		user-select: none;
		-moz-user-select: none;
		-webkit-user-drag: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		pointer-events: none;
	}
	#intro {
		background-color:rgba(255, 0, 0, 0.3);
		width:40%;
		font-family:"segoe ui";
		font-size:1.5em;
		border-radius:10px;
		text-align:center;
		margin: 0 auto;
		padding:1em;
		box-shadow:20px 20px 20px black;
	}
	#socialMedia {
		width:100%;
		height:100%;
		text-align:right;
		position:absolute;
		right:0;
		bottom:0;
	}
	.socialButton {
		background-color:rgba(255, 255, 255, 0);
		background-size:cover;
		border-color:rgba(255, 255, 255, 0);
		width:5%;
		height:10%;
		position:absolute;
		right:0;
		bottom:0;
		outline:none;
	}
	.socialButton:hover {
		cursor:pointer;
	}
	#instagram {
		background-image:url("images/instagram_empty.png");
		position:absolute;
		right:5%;
	}
	#instagram:hover {
		background-image:url("images/instagram_filled.png");
	}
	#linkedIn {
		background-image:url("images/linkedIn_empty.png");
	}
	#linkedIn:hover {
		background-image:url("images/linkedIn_filled.png");
	}