	/* Main */
	
	body,
	html {
	    font-family: "IBM Plex Sans", Arial, Helvetica, sans-serif;
	    display: table;
	    height: 100%;
	    width: 100%;
	    margin: 0;
	}
	
	body {
	    /*background-color:#330000;*/
	    /* Red Background (Default) */
	    background-color: #262626;
	    /* Gray Background */
	}

	main {
		padding-bottom:20px;
	}
	
	#home {
	    background-image: url("../images/home.jpg");
	    webkit-background-size: cover;
	    moz-background-size: cover;
	    o-background-size: cover;
	    background-size: cover;
	}
	/* Menu Elements */
	
	#menu {
	    background: #cc0000;
		padding: 1rem;
		box-shadow:0 0 20px black;
	}
	
	.menuButton {
	    background-color: rgba(255, 255, 255, 0);
	    border-color: rgba(255, 255, 255, 0);
	    display: inline-block;
	    font-size: 2vw;
	    font-weight: 700;
	    text-transform: uppercase;
	    margin-right: 1vw;
	    color: #d9d9d9;
		border-radius: 8px;
		padding:10px;
	}
	
	.menuButton:hover {
	    background: linear-gradient(to top, #8f1c1c 0%, #8f1c1c 100%);
	    color: white;
	}
	
	.menuButton.current {
	    background: linear-gradient(to top, #545454 0%, #616161 100%);
	    color: white;
	}
	
	.menuButton.current:hover {
	    background: linear-gradient(to top, #545454 0%, #616161 100%);
	}
	
	.clickable {
	    cursor: pointer;
	}
	/* Text Elements */
	
	#title {
	    font-size: 8vh;
	    text-transform: uppercase;
	    text-align: center;
	    color: white;
	}
	
	.subtitle {
	    color: white;
	    font-size: 2.7vh;
	}
	
	.subtext {
	    color: #cccccc;
	    font-size: 2.5vh;
	}
	
	.pageLink {
	    color: white;
	    font-size: 3vh;
	    margin-right: 1vw;
	    text-decoration: none;
	    font-weight: 700;
	}
	
	.pageLink:hover {
	    text-decoration: underline;
	}
	
	.pageLink:visited {
	    color: white;
	}
	
	.pageLink:visited:hover {
	    color: white;
	}
	
	.centerText {
	    text-align: center;
	}
	
	h2 {
	    font-size: 5vh;
	    color: white;
	}
	/* Social Media Elements */
	
	#socials {
		float:right;
	}
	
	#github {
	    background-image: url("../images/github_empty.png");
	}
	
	#github:hover {
	    background-image: url("../images/github_filled.png");
	}
	
	#instagram {
	    background-image: url("../images/instagram_empty.png");
	}
	
	#instagram:hover {
	    background-image: url("../images/instagram_filled.png");
	}
	
	#linkedIn {
	    background-image: url("../images/linkedIn_empty.png");
	}
	
	#linkedIn:hover {
	    background-image: url("../images/linkedIn_filled.png");
	}
	
	.socialButton {
	    display: inline-block;
	    background-color: rgba(255, 255, 255, 0);
	    background-size: cover;
	    border-color: rgba(255, 255, 255, 0);
	    width: 3.5rem;
	    height: 3.5rem;
	    outline: none;
	    bottom: 0;
	}
	
	.socialButton:hover {
	    cursor: pointer;
	}
	/* Sections */
	
	.intro.section {
	    background-color: #cc0000;
	    color: white;
	    text-align: center;
	    margin: 0 auto;
		padding: 10px;
		box-shadow:0 5px 10px black;
	}
	
	#doubleBreak {
	    content: "";
	    margin: 5em;
	    display: block;
	    font-size: 24%;
	}
	
	#resumeSection {
		margin-bottom: 3vh;
		box-shadow:0 5px 10px black;
	}
	
	#links {
	    text-align: center;
	}
	
	.section {
	    background-color: rgba(255, 26, 26, 0.77);
	    max-width: 75vw;
	    font-size: 3vh;
	    color: white;
	    margin: 0 auto;
	    margin-bottom: 1vh;
		padding: 1vw;
		box-shadow:0 5px 10px black;
	}
	
	.section2 {
	    background-color: rgba(255, 26, 26, 0.77);
	    max-width: 60%;
	    font-size: 3vh;
	    color: white;
	    margin: 0 auto;
	    margin-bottom: 1vh;
		padding: 1vw;
		box-shadow:0 5px 10px black;
	}
	
	.portfolioSection {
	    background-color: rgba(255, 26, 26, 0.77);
	    max-width: 75vw;
	    font-size: 3vh;
	    color: white;
	    margin: 0 auto;
	    margin-bottom: 1vh;
	    padding: 1vw;
	}

	/* About Page */
	#eportfolio {
	    background: linear-gradient(to top, #248f24 0%, #2eb82e 100%);
	    border-color: rgba(255, 255, 255, 0);
	    width: 27vw;
	    font-size: 2vw;
	    text-transform: uppercase;
	    padding: 1vh;
	    text-align: center;
	    margin: 0 auto;
	    color: #d9d9d9;
	    border-radius: 8px;
	}
	
	#eportfolio:hover {
	    background: linear-gradient(to top, #2eb82e 0%, #47d147 100%);
	    color: white;
	}

	/* Resume Page Styling */
	#resumeDownload {
	    background: linear-gradient(to top, #248f24 0%, #2eb82e 100%);
	    border-color: rgba(255, 255, 255, 0);
	    width: 27vw;
	    font-size: 2vw;
	    font-weight: 700;
	    text-transform: uppercase;
	    padding: 1vh;
	    text-align: center;
	    margin: 0 auto;
	    color: #d9d9d9;
	    border-radius: 8px;
	}
	
	#resumeDownload:hover {
	    background: linear-gradient(to top, #2eb82e 0%, #47d147 100%);
	    color: white;
	}
	
	.resumeImage {
	    width: 5vh;
	    height: 5vh;
	}

	/* Courses Page Styling */
	#courseContainer {
	    display: flex;
	    justify-content: center;
	}
	
	#courseContent {
	    padding: 10px;
	    width: 475px;
	    text-align: center;
	    display: inline-block;
	    margin-right: 10px;
	}
	
	#courseContent img {
	    height: 250px;
	    width: 450px;
	}

	/* Contact Form */
	#messageField {
	    width: 75vw;
	    height: 20vh;
	    padding-top: 2vh;
	    border-radius: 5px;
	}
	
	#submitButton {
	    background: #248f24;
	    border-color: rgba(255, 255, 255, 0);
	    font-size: 2vw;
	    font-weight: 700;
	    text-transform: uppercase;
	    padding: 1vh 4vw 1vh 4vw;
	    text-align: center;
	    margin: 0 auto;
	    color: #d9d9d9;
	    outline: none;
	    border-radius: 8px;
	}
	
	#submitButton:hover {
	    background: #2eb82e;
	    color: white;
	    cursor: pointer;
	}
	
	.inputForm {
	    border-color: rgba(255, 255, 255, 0);
	    width: 75vw;
	    padding: 0.5vw;
	    font-size: 3vh;
	    font-weight: 700;
	    outline: none;
	    margin-bottom: 2vh;
		border-radius: 5px;
		box-shadow:0 5px 10px black;
	}
	
	.invalid {
	    border-color: #cc0000;
	    border-width: 3px;
	}

	/* Dropdown Menus */
	.dropdownButton {
	    background: #990000;
	    border-color: rgba(255, 255, 255, 0);
	    outline: none;
	    font-size: 2vw;
	    font-weight: 700;
	    text-transform: uppercase;
	    padding: 0.5vh 2vw 0.5vh 2vw;
	    text-align: center;
	    margin-left: 30px;
	    color: white;
	    cursor: pointer;
	    border-radius: 8px;
	}
	
	.dropdownButton:hover {
	    background: #cc0000;
	}
	
	.content {
	    background-color: #1a0000;
	    max-width: 60vw;
	    max-height: 0;
	    margin-left: 30px;
	    overflow: hidden;
	    transition: 0.7s ease-in-out;
	    opacity: 0;
	    border-radius: 8px;
	}
	
	.content.show {
	    opacity: 1;
	    max-height: 20vh;
	    padding: 1vh;
	}
	
	.content.hide {
	    opacity: 0;
	    height: 0;
	}

	/* Misc */
	#recaptcha {
	    position: fixed;
	    bottom: 5.5vh;
	}
	
	#copyright {
	    background-color: #1a0000;
		position:fixed;
		bottom:0;
	    width: 100%;
	    padding: 0.5vw 0 0.5vw 0;
	    font-size: 2.5vh;
	    color: white;
	    text-align: center;
	}
	
	#scrollCopyright {
	    background-color: #1a0000;
	    width: 100%;
	    padding: 0.5vw 0 0.5vw 0;
	    font-size: 2.5vh;
	    color: white;
	    text-align: center;
	    margin-top: 5vh;
	}
	
	.unselectable {
	    user-select: none;
	    -moz-user-select: none;
	    -webkit-user-drag: none;
	    -webkit-user-select: none;
	    -ms-user-select: none;
	    pointer-events: none;
	}
	
	hr {
	    /*border-color:#660000;*/
	    /* Red (Default) */
	    border-color: black;
	    width: 85%;
	    margin-bottom: 7vh;
	}

	/* Scrollbar */
	::-webkit-scrollbar {
	    width: 20px;
	    color: black;
	}
	
	::-webkit-scrollbar-track {
	    box-shadow: inset 0 0 10px #1a0000;
	}
	
	::-webkit-scrollbar-thumb {
	    background: #e60000;
	}
	
	@media (max-width:768px) {
	    #home {
	        background-image: none;
	    }
	    #menu {
			background: #cc0000;
			padding: 10px;
			box-shadow:0 0 20px black;
			text-align:center;
		}
		
		.menuButton {
			font-size:1.2em;
		}
		
		.menuButton:hover {
			background: linear-gradient(to top, #ff1a1a 0%, #ff3333 100%);
			color: white;
		}

	    #socials {
	        display: none;
		}
		
	    /* Dropdown Menus */
	    .dropdownButton {
	        font-size: 1.2em;
	    }
	    .dropdownButton:hover {
	        background: #cc0000;
	    }
	    .content {
	        background-color: #1a0000;
	        max-width: 75vw;
	        max-height: 0;
	        margin-left: 30px;
	        overflow: hidden;
	        transition: 0.7s ease-in-out;
	        opacity: 0;
	        border-radius: 8px;
	    }
	    .content.show {
	        opacity: 1;
	        max-height: 40vh;
	        padding: 10px;
	    }
	    .content.hide {
	        opacity: 0;
	        height: 0;
		}

		/* Misc */
		#copyright {
			position:relative;
			bottom:0;
		}
		#copyright, #scrollCopyright {
			font-size:1.1em;
		}
		#submitButton, #resumeDownload, #eportfolio {
			padding:15px;
			width:50vw;
			font-size:1em;
		}
	}